.islamicIcon {
  background: var(--icon-color);
  width: var(--icon-dim);
  height: var(--icon-dim);
  position: relative;
  text-align: center;
  transform: rotate(45deg);
}

.islamicIcon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--icon-dim);
  width: var(--icon-dim);
  background: var(--icon-color);
  transform: rotate(135deg);
}
